@model CitSciScribe.Models.ChangePasswordViewModel
<div id="inner-wrapper" class="col-sm-offset-2">
    <div class="row">
        <div class="col-xs-12 col-logo">
            <img src="" id="logo" alt="CitSciScribe" class="citsci-logo img-responsive"/>
        </div>
    </div>
    <div class="row main-content">
        <h2 class="page-title">Change Your Password</h2>
        <div class="col-sm-8 col-sm-offset-2 form-box">
            <div class="form-bottom">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new {@class = "text-danger"})
                    <div class="form-group">
                        <label for="form-password" class="sr-only">Old Password</label>
                        <input type="password" id="form-password" class="form-password form-control input-lg" placeholder="Old Password" name="OldPassword">
                    </div>
                    <div class="form-group">
                        <label for="form-password" class="sr-only">New Password</label>
                        <input type="password" id="form-password" class="form-password form-control input-lg" placeholder="New Password" name="NewPassword">
                    </div>
                    <div class="form-group">
                        <label for="form-password2" class="sr-only">Confirm New Password</label>
                        <input type="password" id="form-password2" class="form-password2 form-control input-lg" placeholder="Confirm New Password" name="ConfirmPassword">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
                }
            </div>
        </div>
    </div>
</div>