<div id="inner-wrapper" class="col-sm-offset-2">
    <div class="row">
        <div class="col-xs-12 col-logo">
            <img src="~/Content/images/citsci-logo.png" alt="CitSciScribe" class="citsci-logo img-responsive" />
        </div>
    </div>
    <div class="row main-content">
        <p>Welcome to CitSciScribe!</p>
        <p>Since 1879, the North Carolina Museum of Natural Sciences has documented the biodiversity of the Southeast. This incredible record of the region’s natural history has powerful applications for research, conservation, and education. However, much of this potential remains hidden away in historic written records.</p>
        <p>Join us! Become a Citizen Science Curator and unlock these hidden treasures. As you transform written records into a digital format you will make this valuable information available to anyone, anywhere in the world.</p>
        <p>Get started today by clicking Transcribe Now below!</p>
    </div>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            @Html.ActionLink("TRANSCRIBE NOW!", "Projects", "Transcription", null, new {@class = "btn btn-primary btnTranscribe"})
        </div>
    </div>
</div>